<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insidedeveloper.siie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio_Sesion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro_Materia"
            android:label="Registrar Materias" />
        <activity
            android:name=".Menu_Administrador"
            android:label=" Administardor" />
        <activity
            android:name=".Menu_Materia"
            android:label="Menu materia" />
        <activity android:name=".chat" />
        <activity
            android:name=".menu_maestro"
            android:label="menu maestro" />
        <activity
            android:name=".menu_tarea"
            android:label="Menu Tareas" />
        <activity
            android:name=".Menu_Alumno"
            android:label="Menu Alumno" />
        <activity
            android:name=".menu_principal_alumno"
            android:label="Menu Principal" />
        <activity
            android:name=".menu_principal_maestro"
            android:label="Menu Principal" />
        <activity
            android:name=".Modificar_Materia"
            android:label="Modificar Materia" />
        <activity android:name=".Registro_Maestro2" />
        <activity
            android:name=".Registro_Alumno"
            android:label="Registar Alumno" />
        <activity
            android:name=".Registro_Curso"
            android:label="Registrar Curso" />
        <activity
            android:name=".mostrar"
            android:label="Mostra Alumno" />
        <activity
            android:name=".menu_salas"
            android:label="Sala de Chats" />
        <activity
            android:name=".sala_historia"
            android:label="Historia" />
        <activity
            android:name=".sala_espanol"
            android:label="Español" />
        <activity
            android:name=".sala_de_matematicas"
            android:label="Matematicas" />
        <activity
            android:name=".sala_avisos"
            android:label="Avisos" />
        <activity
            android:name=".Consultar_Materia"
            android:label="Consultar Materia" />
        <activity
            android:name=".ConsultarMaestro"
            android:label="Consultar Maestro" />
        <activity
            android:name=".Menu_Curso"
            android:label="Menu Curso" />
        <activity
            android:name=".registrar_tarea"
            android:label="Registar Tarea" />
        <activity android:name=".MostarAlumno" />
        <activity
            android:name=".subir_archivo"
            android:label="Tarea" />
        <activity android:name=".Cursos" />
        <activity android:name=".consultar_archivos"></activity>
    </application>

</manifest>