<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insidedeveloper.siie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioSesion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistriMateria" />
        <activity android:name=".activity_menu_admin" />
        <activity
            android:name=".activity_menu_materia"
            android:label="@string/title_activity_menu_materia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".chat" />
        <activity android:name=".menu_maestro" />
        <activity android:name=".menu_tarea" />
        <activity android:name=".menu_alumno" />
        <activity android:name=".Modificar_Materia"></activity>
    </application>

</manifest>